@model IEnumerable<AtlasAddressBook.Models.Contact>
@using AtlasAddressBook.Services.Interfaces
@inject IImageService _imageService


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


@foreach (var item in Model!)
{

    <div class="mb-3 glass-jw-style darkGlass">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="@_imageService.ConvertByteArrayToFile(item.ImageData!,item.ImageType!)" class="contactList-image" alt="..."></img>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</h5>
                    <div class="card-text">
                        Email: @Html.DisplayFor(modelItem => item.Email)
                    </div>
                    <div class="card-text">
                        Phone: @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </div>
                    <a asp-action="Edit" asp-route-id="@item?.Id">
                        <i class="bi-pencil-fill" style="font-size: 1.5rem; color:black;"></i>
                    </a>
                    <a asp-action="Details" asp-route-id="@item?.Id">
                        <i class="bi-person-fill" style="font-size: 1.5rem; color:black;"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item?.Id">
                        <i class="bi-trash-fill" style="font-size: 1.5rem; color:red;"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

}